<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nsucpcstudent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NSUCPCStudent">
        <activity android:name=".Authentication.ForgetPasswordActivity"></activity>
        <activity android:name=".DisplayActivity.SeeJobsActivity" />
        <activity android:name=".DisplayActivity.ContactDisplayActivity" />
        <activity android:name=".DisplayActivity.AcademicDisplayActivity" />
        <activity android:name=".DisplayActivity.PersonalDisplayActivity" />
        <activity android:name=".DisplayActivity.SpecialityDisplayActivity" />
        <activity android:name=".DisplayActivity.ExperienceDisplayActivity" />
        <activity android:name=".WholeInfoActivity" />
        <activity android:name=".DetailsActivity.ExperiencesDetailsActivity" />
        <activity android:name=".DetailsActivity.SpecialityDetailsActivity" />
        <activity android:name=".DetailsActivity.ContactDetailsActivity" />
        <activity android:name=".DetailsActivity.AcademicDetailsActivity" />
        <activity android:name=".DetailsActivity.PersonalDetailsActivity" />
        <activity android:name=".Authentication.SignUpActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>